// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	text-decoration: none;
}

.title {
	text-align: center;
	font-size: 60px;
}

.calendar {
	float: left;
}

.calendar table {
	margin-top: 18px;
	height: 500px;
	width: 600px;
}

.mday-num {
	font-size: 25px;
}

.calendar h3 {
	text-align: center;
}

.current-month{
	text-align: center;
	font-size: 40px
}

.events{
	float: right;
	text-align: center;
  height: 535px;
  width: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.events table {
	width: 600px;
}

.event-name {
	text-align: center;
	font-size: 30px;
}

.event-form {
  margin: auto;
  padding: 10px;
	width: 500px;
}

.finish-date-params {
	display: none;
}

.event-notice {
	float: right;
	margin-top: -58px;
}

.new-event {
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: center;
}

.container {
	position: relative;
}

.today a{
	color: red;
}